
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    z-index: 2;
  }

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
  }  

.jumbotron{
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 300px;
    height: 100%;
    width: 100%;
    background-color: darkgray;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    z-index: 3;
}